.container {
    width: 390px;
    display: flex;
    justify-content: center;
    position: relative;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.home-screen {
    width: 390px;
    height: 838px;
    margin: 0 auto;
}

.main-card {
    position: relative;
}

.reserve-main {
    display: none;
}

.data {
    width: 390px;
    height: 690px;
    margin: 0 auto;
}

.decor-line {
    width: 50px;
    height: 4px;
    border-radius: 50%;
    color: gray;
}

.reserve-btn {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    bottom: 325px;
    left: 30px;
}
.action-btn {
    position: absolute;
    z-index: 2;
    width: 60px;
    height: 60px;
    bottom: 422px;
    right: 30px;
}

.reserve-container {
    width: 390px;
    height: 100vh;
    background: #fff;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.reserve-container-header {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 38px;
    background-color: rgba(225, 223, 201);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    width: 390px;
    height: 100vh;
    background: red;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    animation: changeColors 9s infinite;
}

@keyframes changeColors {
    0%   { background: red; }
    33%  { background: green; }
    66%  { background: yellow; }
    100% { background: red; }
}
.top {
    width: 390px;
}

.running-line {
    position: absolute;
    font-size: 12px;
    bottom: 332px;
    width: 89%;
    margin-left: 21px;
    height: 24px;
    background: #754e21;
    display: flex;
    align-items: center;
    color: white;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
}

.running-line-res-main-info {
    position: absolute;
    font-size: 12px;
    top: 108px;
    width: 100%;
    margin-left: 0;
    height: 24px;
    background: #754e21;
    display: flex;
    align-items: center;
    color: white;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
}

.running-line-dia {
    position: absolute;
    bottom: 310px;
    font-weight: 500;
    width: 85%;
    margin-left: 29px;
    height: 28px;
    font-size: 12px;
    display: flex;
    background: linear-gradient(
            90deg,
            #8ee9a5 10%,
            #7be0bd 70%,
            #6ee8e6 100%
    );
    align-items: center;
    color: black;
    flex-wrap: nowrap;
    white-space: nowrap;
    word-spacing: -4px;
    overflow: hidden;
}

.running-line-dia-licence {
    position: absolute;
    bottom: 310px;
    font-weight: 500;
    width: 85%;
    margin-left: 29px;
    height: 28px;
    font-size: 12px;
    display: flex;
    background: linear-gradient(
            90deg,
            #8ee9a5 10%,
            #7be0bd 70%,
            #6ee8e6 100%
    );
    align-items: center;
    color: black;
    flex-wrap: nowrap;
    white-space: nowrap;
    word-spacing: -4px;
    overflow: hidden;
}

.current-date  {
    font-size: 12px;
    font-family: system-ui!important;
}

.current-date-1 {
    font-size: 12px;
    font-family: system-ui!important;
}

.current-date-2 {
    font-size: 12px;
    font-family: system-ui!important;
}

.current-date-3 {
    font-size: 12px;
    font-family: system-ui!important;
}

.current-date-inner, .current-date-1-inner, .current-date-2-inner {
    margin-left: 6px;
}

.time {
    font-size: 12px;
    font-family: system-ui !important;
    margin: 0 8px;
}
.running-line-content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: max-content;
    animation: marquee 20s linear infinite;
}

.running-line-content-dia {
    display: flex;
    align-items: center;
    letter-spacing: -0.4px;
    white-space: nowrap;
    width: max-content;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.95);
    animation: marquee 40s linear infinite;
}

.running-line-content-dia-drive {
    display: flex;
    align-items: center;
    letter-spacing: -0.4px;
    white-space: nowrap;
    width: max-content;
    color: rgba(0, 0, 0, 0.95);
    font-weight: 500;
    animation: marquee 15s linear infinite;
}

.line-wrap {
    display: flex;
    align-items: center;
}

.line-wrap-dia {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.dot {
    background: white;
    width: 4px;
    height: 4px;
    margin: 0 6px;
    border-radius: 50%;
}

.dot-black {
    background: black;
    width: 4px;
    height: 4px;
    margin-right: 6px;
    border-radius: 50%;
}

.dot-black:first-child {
    margin-left: -6px;
}

.current-date {
    margin-left: 8px;
}

.current-date-1 {
    margin-left: 8px;
}

.current-date-2 {
    margin-left: 8px;
}

.current-date-3 {
    margin-left: 8px;
}

.updated {
    white-space: nowrap;
    display: flex;
    align-items: center;
}
.driving-licence-time, .driving-licence-time-1, .driving-licence-date, .driving-licence-date-1 {
    margin: 0 6px;
}

.vertical-divider {
    width: 2px;
    height: 14px;
    background: white;
}

.last-updated {
    position: absolute;
    top: 118px;
    width: 100%;
    height: 40px;
    background: #754e21;
    display: flex;
    align-items: center;
    color: white;
    flex-wrap: nowrap;
    white-space: nowrap;
    font-size: 14px;
}
.last-updated-expanded {
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.doc-updated {
    word-spacing: -6px;
}
.date-expanded {
    font-size: 14px;
    font-family: system-ui!important;
    margin-left: 5px;
}

.time-expanded {
    font-size: 14px;
    font-family: system-ui!important;
    margin: 0 5px;
}
.bottom {
    width: 390px;
    margin-top: -5px;
}

.home {
    position: fixed;
    z-index: 4;
    width: 90px;
    height: 90px;
    bottom: 35px;
    left: 0;
}

.menu-select {
    position: absolute;
    bottom: 77px;
    left: 13px;
    border-radius: 12px;
    width: 362px;
    height: 390px;
    display: none;
    z-index: 4;
}
.menu-select-background {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    position: absolute;
    top: 0;
}


.open-qr-btn {
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 200px;
    bottom: 375px;
    left: 90px;
}

.open-qr-dia-btn {
    position: absolute;
    z-index: 2;
    width: 174px;
    height: 270px;
    bottom: 247px;
    left: 171px;
}

.open-driving-licence {
    position: absolute;
    z-index: 3;
    width: 40px;
    height: 270px;
    bottom: 336px;
    right: 0;
    display: none;
}

.driving-licence {
    display: none;
    height: 100vh;
    animation: changeColors 9s infinite;
}
.driving-licence-time {
    font-size: 12px;
}

.close-qr-btn {
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 200px;
    bottom: 315px;
    left: 90px;
}

.dia-main-wrap {
    position: absolute;
    z-index: 2;
    width: 200px;
    height: 200px;
    bottom: 315px;
    left: 90px;
    background: #754e21;
}

.to-all-details-btn {
    position: absolute;
    z-index: 5;
    width: 200px;
    height: 40px;
    bottom: 386px;
    left: 70px;
    display: none;
}

.update-document {
    position: absolute;
    z-index: 5;
    width: 200px;
    height: 40px;
    bottom: 290px;
    left: 70px;
    display: none;
}

.got-it {
    position: absolute;
    bottom: 22px;
    z-index: 5;
    width: 250px;
    height: 50px;
    left: 70px;
    display: none;
}

.updated-document {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.open-all-info {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    bottom: 194px;
    right: 30px;
}
.qr-block {
    position: relative;
    display: none;
}

.qr-block-dia {
    height: 100vh;
    width: 100%;
    display: none;
}

.dia-main {
    position: relative;
    width: 390px;
    height: 100vh;
    opacity: 0.9;
}

.dia-driving-licence-main {
    position: relative;
    width: 390px;
    height: 100vh;
    opacity: 0.9;
}

.dia-main-photo {
    position: absolute;
    z-index: 5;
    width: 146px;
    height: 193px;
    border-radius: 10px;
    top: 192px;
    left: 43px;
}

@media screen and (min-width: 391px) {
    .container {
        width: 100vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-screen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    .reserve-container {
        width: 100%;
        object-fit: cover;
    }
    .data {
        width: 100vw;
        object-fit: contain;
    }
    .running-line {
        bottom: 280px;
    }
    .last-updated {
        top: 128px;
    }
    .bottom {
        margin-top: -33px;
    }
    .menu-select {
        left: 29px;
    }

}